<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>My Story</title>
<meta name="keywords" content="react,multi-page,webpack,node"><meta name="description" content="Tell me your secrets hidden deep inside your heart"></head>
<body>
<div id="index"></div>
<script type="text/javascript" src="/shareyoursecrets/shareyoursecrets.bundle.js"></script></body>
</html>